/* Styles pour les badges de statut */
.status-badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.8em;
  font-weight: 500;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.status-badge.status-en-stock {
  background-color: #28a745; /* Vert */
}

.status-badge.status-a-venir {
  background-color: #17a2b8; /* Bleu-vert (info) */
}

.status-badge.status-en-cours {
  background-color: #ffc107; /* Jaune (warning) */
  color: #212529; /* Texte foncé pour la lisibilité sur fond jaune */
}

.status-badge.status-rejeté, .status-badge.status-rejeté {
  background-color: #dc3545; /* Rouge */
}

.status-badge.status-en-attente {
    background-color: #6c757d; /* Gris */
}